[flake8]
max-line-length = 100
extend-ignore =
    E203,  # slice spacing (black compat)
    W503,  # line break before binary operator
    E302,  # “expected 2 blank lines”
    E501   # long lines (we cap at 100 anyway)
